:80 {
    root * /srv

    header Access-Control-Allow-Origin "*"

    route /backend/* {
        uri strip_prefix /backend

        {{ if (index . "BACKEND_PROXY") }}
        reverse_proxy {{ .BACKEND_PROXY }}
        {{ else  }}
        root * /srv/mocks
        file_server browse
        {{ end }}
    }

    file_server browse

    log
}